<!DOCTYPE HTML>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66061566-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-66061566-2');
    </script>

    <!-- Google AdSense -->
    <script data-ad-client="ca-pub-8362228066874729" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <title>미용사(네일) 기출문제 - Quizeey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="kr">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="미용사(네일) 기출문제 - Quizeey">
    <meta name="twitter:title" content="미용사(네일) 기출문제 - Quizeey">
    <meta name="description" content="미용사(네일) 기출문제를 100% 무료로 풀어보세요. 수많은 미용사(네일) 기출문제가 준비되어 있습니다." />
    <meta property="og:description" content="미용사(네일) 기출문제를 100% 무료로 풀어보세요. 수많은 미용사(네일) 기출문제가 준비되어 있습니다.">
    <meta name="twitter:description" content="미용사(네일) 기출문제를 100% 무료로 풀어보세요. 수많은 미용사(네일) 기출문제가 준비되어 있습니다.">
    <meta property="og:url" content="http://quizeey.com/nail-technician">
    <meta name="twitter:domain" content="http://quizeey.com/nail-technician">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://quizeey.com/img/favicon.ico">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="http://quizeey.com/img/favicon.ico">


    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/lib/sticky-footer-navbar.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    <!-- C3.js Chart -->
    <link href="/css/lib/c3.min.css" rel="stylesheet">

</head>

<body>
    <header>
        <!-- Fixed navbar -->
        <div id="nav-placeholder">
            </di1v>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
        <div id="main-div">
            <div id="testId" style="display: none;">{{testId}}</div>
            <div id="inputQuestId" style="display: none;">{{inputQuestId}}</div>
            <h2 class="mt-5">미용사(네일) 기출문제</h2>
            <h6 class="main-title-stats">네일미용에 관한 숙련기능을 가지고 현장업무를 수행할 수 있는 능력을 가진 전문기능인력을 양성하고자 미용사(네이) 자격제도가 제정되었습니다.
            </h6>
            <br>
            <div id="question-placeholder"></div>
        </div>

        <br><br>
        <!-- Sticky footer -->
        <div id="footer-placeholder">
            </di1v>
    </main>


    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>

    <!--custom js 추가-->
    <script src="/js/app/nav-and-footer.js"></script>
    <script src="/js/app/question.js"></script>

</body>

</html>