<!DOCTYPE HTML>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66061566-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-66061566-2');
    </script>

    <!-- Google AdSense -->
    <script data-ad-client="ca-pub-8362228066874729" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <title>AWS Certified Developer – Associate 问题 - Quizeey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="AWS Certified Developer – Associate 问题 - Quizeey">
    <meta name="twitter:title" content="AWS Certified Developer – Associate 问题 - Quizeey">
    <meta name="description"
        content="Quizeey提供了许多AWS Certified Developer – Associate认证考试问题，可以帮助您为AWS Certified Developer – Associate考试做准备。 您可以轻松通过AWS Certified Developer – Associate考试。" />
    <meta property="og:description"
        content="Quizeey提供了许多AWS Certified Developer – Associate认证考试问题，可以帮助您为AWS Certified Developer – Associate考试做准备。 您可以轻松通过AWS Certified Developer – Associate考试。">
    <meta name="twitter:description"
        content="Quizeey提供了许多AWS Certified Developer – Associate认证考试问题，可以帮助您为AWS Certified Developer – Associate考试做准备。 您可以轻松通过AWS Certified Developer – Associate考试。">
    <meta property="og:url" content="http://quizeey.com/zh/aws-certified-developer-associate">
    <meta name="twitter:domain" content="http://quizeey.com/zh/aws-certified-developer-associate">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://quizeey.com/img/favicon.ico">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="http://quizeey.com/img/favicon.ico">


    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/lib/sticky-footer-navbar.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    <!-- C3.js Chart -->
    <link href="/css/lib/c3.min.css" rel="stylesheet">

</head>

<body>
    <header>
        <!-- Fixed navbar -->
        <div id="nav-placeholder">
            </di1v>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
        <div id="main-div">
            <div id="testId" style="display: none;">{{testId}}</div>
            <div id="inputQuestId" style="display: none;">{{inputQuestId}}</div>
            <h2 class="mt-5">AWS Certified Developer – Associate 问题</h2>
            <h2 class="main-title-stats">AWS认证开发人员-关联问题适用于执行开发角色并具有一年或一年以上动手经验的开发和维护基于AWS的应用程序的人员。</h2>
            <br>

            <!-- Begin page content -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="quiz-version-selector">版</label>
                </div>
                <select class="custom-select" id="quiz-version-selector">
                    <option value="">所有</option>
                </select>
            </div>

            <!-- 진행상태바 -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" id="progress-bar">
                    <li class="breadcrumb-item active" aria-current="page">问题</li>
                </ol>
            </nav>

            <div class="card shadow" id="question-card">
                <div class="card-header">
                    <!-- 점수 -->
                    <div class="text-muted" id="quiz-result" style="float: right;">0/0 (0%)</div>

                    <!-- Tabs -->
                    <ul class="nav nav-tabs nav-tabs-question" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="question-tab" data-toggle="tab" href="#question" role="tab"
                                aria-controls="question" aria-selected="true">题</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="statistics-tab" data-toggle="tab" href="#statistics" role="tab"
                                aria-controls="statistics" aria-selected="false">统计资料</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="disqus-tab" data-toggle="tab" href="#disqus" role="tab"
                                aria-controls="disqus" aria-selected="false">注释</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="question" role="tabpanel"
                            aria-labelledby="question-tab">
                            <!-- Version -->
                            <h6 class="card-subtitle mb-2 text-muted" id="versionText"></h6>
                            <!-- 문제 -->
                            <h5 class="card-title" id="questionText"></h5>
                            <br>
                            <!-- 보기 -->
                            <div id="examples"></div>
                            <div id="hidden-answer" style="display: none;"></div>

                            <br>

                            <!-- Google Ad In-feed -->
                            <ins class="adsbygoogle" style="display:block" data-ad-format="fluid"
                                data-ad-layout-key="-gu-3+1f-3d+2z" data-ad-client="ca-pub-8362228066874729"
                                data-ad-slot="3112169686"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>

                            <br>

                            <table width="100%">
                                <tr>
                                    <td width="90%">
                                        <button type="button" class="btn btn-lg btn-secondary btn-block"
                                            id="btn-question-submit" disabled>
                                            提交
                                        </button>
                                    </td>
                                    <td width="10%">
                                        <button type="button" class="btn btn-lg btn-warning btn-block"
                                            id="btn-question-skip">
                                            跳跃
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
                            <div id="chart"></div>
                        </div>
                        <div class="tab-pane fade" id="disqus" role="tabpanel" aria-labelledby="disqus-tab">
                            <!-- Disqus -->
                            <div id="disqus_thread"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 오답 팝업 -->
            <div class="modal fade" id="wrongModal" tabindex="-1" role="dialog" aria-labelledby="answerModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="answerModalLabel">不正确的</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h6>回答:</h6>
                            <p id="quest-answer"></p>
                            <h6 id="explanation-title">说明:</h6>
                            <p id="explanation"></p>

                            <!-- 추가설명 -->
                            <div id="additional-explanation"></div>

                            <!-- 설명추가 -->
                            <button type="button" class="btn btn-link add-explanation-txt">添加说明</button>
                            <br>
                            <form class="add-explanation-form" style="display:none;">
                                <div class="form-group">
                                    <label for="addExplanationUserName">名称</label>
                                    <input type="text" class="form-control" id="addExplanationUserName"
                                        placeholder="匿名">
                                </div>
                                <div class="form-group">
                                    <label for="addExplanationContents">说明</label>
                                    <textarea class="form-control" id="addExplanationContents" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary btn-sm">加</button>
                            </form>
                            <br>

                            <h6 id="reference-title">参考:</h6><a id="reference" target="_blank"></a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                id="btn-close-modal">关</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                id="btn-next-question">下一个</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br><br>
        <!-- Sticky footer -->
        <div id="footer-placeholder">
            </di1v>
    </main>


    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>

    <!-- C3.js Chart -->
    <script src="/js/lib/d3-5.8.2.min.js" charset="utf-8"></script>
    <script src="/js/lib/c3.min.js"></script>

    <!--custom js 추가-->
    <script src="/js/app/nav-and-footer.js"></script>
    <script src="/js/app/test.js"></script>

</body>

</html>