<!DOCTYPE HTML>
<html>
<head>
    <title>QuestionBank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

	<!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/lib/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Fixed navbar -->
        <div id="nav-placeholder"></di1v>
    </header>
    
    <!-- Begin page content -->
    <main role="main" class="container">
        <div id="main-div">
            <h1 class="mt-5">Question Bank</h1>
            <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
            <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>

            <br>
            <div class="custom-control custom-radio">
                <input type="radio" id="testRadio1" name="testRadio" class="custom-control-input" value="02">
                <label class="custom-control-label" for="testRadio1">A. AWS Certified Solutions Architect – Associate</label>
            </div>
            <br>
            <div class="custom-control custom-radio">
                <input type="radio" id="testRadio2" name="testRadio" class="custom-control-input" value="01">
                <label class="custom-control-label" for="testRadio2">B. AWS Certified Developer – Associate</label>
            </div>

            <br><br>
            <button type="button" class="btn btn-lg btn-secondary btn-block" id="btn-take-the-quiz" disabled>
                TAKE THE QUIZ
            </button>    
        </div>
    </main>

    <!-- 오답 팝업 -->
    <div class="modal fade" id="wrongModal" tabindex="-1" role="dialog" aria-labelledby="answerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="answerModalLabel">Incorrect</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Answer:</h6><p id="quest-answer"></p> 
                    <h6>Explanation:</h6><p id="explanation"></p>
                    <h6>Reference:</h6><p id="reference"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-next-question">Next</button>
                </div>
            </div>
        </div>
    </div>
   
    <br>
    <footer class="footer">
        <!-- Sticky footer -->
        <div id="footer-placeholder"></di1v>
    </footer>


    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    
    <!--custom js 추가-->
    <script src="/js/app/nav-and-footer.js"></script>
    <script src="/js/app/main.js"></script>
</body>
</html>