<!DOCTYPE HTML>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66061566-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-66061566-2');
    </script>

    <title>Request us new quiz - Quizeey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="kr">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Request us new quiz." />
    <meta property="og:type" content="website">
    <meta property="og:title" content="Request us new quiz - Quizeey">
    <meta property="og:description" content="Request us new quiz.">
    <meta property="og:image" content="http://quizeey.com/img/favicon.ico">
    <meta property="og:url" content="http://quizeey.com/request">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Request us new quiz - Quizeey">
    <meta name="twitter:description" content="Request us new quiz.">
    <meta name="twitter:image" content="http://quizeey.com/img/favicon.ico">
    <meta name="twitter:domain" content="http://quizeey.com/request">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">

	<!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/lib/sticky-footer-navbar.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <!-- Fixed navbar -->
        <div id="nav-placeholder"></di1v>
    </header>
    
    <!-- Begin page content -->
    <main role="main" class="container">
        <div id="main-div">
            <h1 class="mt-5">Request us new quiz</h1>
            <br>

            <div class="card shadow" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">
                        If Quizeey doesn't have a test you want, please request us. We will add it right away.
                    </h5>
                    <br><br>

                    <form id="request-form">
                        <h4 class="mb-3">Test information</h4>
                        <div class="form-row">
                            <div class="col mb-3">
                                <label for="testName">Test name</label>
                                <input type="text" class="form-control" id="testName" placeholder="Test name" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col mb-3">
                                <label for="questUrl">Question url <span class="text-muted">(Optional)</span></label>
                                <input type="text" class="form-control" id="questUrl" placeholder="Question url">
                                <small id="questUrlHelp" class="form-text text-muted">Url for the test questions.</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col mb-3">
                                <label for="detailInfo">Detailed information <span class="text-muted">(Optional)</span></label>
                                <textarea class="form-control" id="detailInfo" rows="3"></textarea>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="form-row">
                            <div class="col mb-3">
                                <label for="email">Email address <span class="text-muted">(Optional)</span></label>
                                <input type="text" class="form-control" id="email" placeholder="Email address">
                                <small id="email" class="form-text text-muted">Email information will only be used to reach you back when the quiz is ready.</small>
                            </div>
                        </div>
                        <br><br>
                        <button class="btn btn-lg btn-primary btn-block" id ="btn-request-send" type="submit">SEND</button>
                    </form>
                </div>
            </div>

            <br><br><br>
            
        </div>
        <br><br>
        <!-- Sticky footer -->
        <div id="footer-placeholder"></di1v>
    </main>

    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>

    <!--custom js 추가-->
    <script src="/js/app/nav-and-footer.js"></script>
    <script src="/js/app/request.js"></script>
    
</body>
</html>