<!DOCTYPE HTML>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66061566-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-66061566-2');
    </script>

    <!-- Google AdSense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8362228066874729",
            enable_page_level_ads: true
        });
    </script>

    <title>Request - Quizeey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

	<!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/lib/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Fixed navbar -->
        <div id="nav-placeholder"></di1v>
    </header>
    
    <!-- Begin page content -->
    <main role="main" class="container">
        <div id="main-div">
            <h1 class="mt-5">Request us new quiz</h1>
            <br>
            

            <br><br><br>
            
        </div>
        <br><br>
        <!-- Sticky footer -->
        <div id="footer-placeholder"></di1v>
    </main>

    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>

    <!--custom js 추가-->
    <script src="/js/app/nav-and-footer.js"></script>
    
</body>
</html>