<h1 class="mt-5">{{testName}}</h1>
<div id="testId" style="display: none;">{{testId}}</div>
<br>

<!-- 문제 -->
<p class="lead" id="questionText"></p>

<br>
<div id="examples-radio"></div>

<br><br>
<button type="button" class="btn btn-lg btn-secondary btn-block" id="btn-question-submit" disabled>
    SUBMIT
</button>    
<button type="button" class="btn btn-lg btn-warning btn-block" id="btn-question-skip">
    SKIP
</button>

<!--custom js 추가-->
<script src="/js/app/test.js"></script>