<!DOCTYPE HTML>
<html>
<head>
    <title>QuestionBank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

	<!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/lib/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Fixed navbar -->
        <div id="nav-placeholder"></di1v>
    </header>


    <!-- Begin page content -->
    <main role="main" class="container">
        <h1 class="mt-5">{{testName}}</h1>
        <div id="testId" style="display: none;">{{testId}}</div>
        <br>
        
        <!-- 문제 -->
        <p class="lead" id="questionText"></p>
	    
        <br>
        <div id="examples-radio"></div>

        <br><br>
        <button type="button" class="btn btn-lg btn-primary btn-block" id="btn-question-submit">
            SUBMIT
        </button>    
        <button type="button" class="btn btn-lg btn-warning btn-block" id="btn-question-skip">
            SKIP
        </button>
    </main>
   
    <br>
    <footer class="footer">
        <!-- Sticky footer -->
        <div id="footer-placeholder"></di1v>
    </footer>


    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    
    <!--custom js 추가-->
    <script src="/js/app/nav-and-footer.js"></script>
    <script src="/js/app/test.js"></script>
</body>
</html>