<div id="testId" style="display: none;">{{testId}}</div>
<h1 class="mt-5">{{testName}}</h1>
<br>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="quiz-version-selector">Version</label>
  </div>
  <select class="custom-select" id="quiz-version-selector">
    <option value="">All</option>
    <option value="1">One</option>
    <option value="2">AWS-Certified-Developer-Associate V13.25</option>
    <option value="3">Three</option>
  </select>
</div>
<br>

<!-- 문제 -->
<p class="lead" id="questionText"></p>

<br>
<!-- 보기 -->
<div id="examples-radio"></div>
<div id="hidden-answer" style="display: none;"></div>

<br><br>    

<table width="100%">
    <tr>
        <td width="80%">
            <button type="button" class="btn btn-lg btn-secondary btn-block" id="btn-question-submit" disabled>
                SUBMIT
            </button>    
        </td>
        <td width="20%">
            <button type="button" class="btn btn-lg btn-warning btn-block" id="btn-question-skip">
                SKIP
            </button>
        </td>
    </tr>
</table>

<!--custom js 추가-->
<script src="/js/app/test.js"></script>